*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#wrapper{
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box
{
    border: 1px solid;
    /* display: flex; */
    height: 300px;
    width: 300px;
    padding: 32 px;
    /* align-items: center;
    justify-content: center; */
    /* margin: 20%;
    height: 100%; */

}
.upper {
    border: 1px solid;
    margin: 10px;
    height: 32px;
}
.length,.uppercase,.lowercase,.number{
    display: flex;
    justify-content: space-between;
}
.lower{
    /* border: 1px solid; */
    height: 32px;
    text-align: center;

}
button{
    padding: 6px 15px;
}